h1 {
	font-family: Arial;
	color: #106939;
	text-align: center;
}

h6 {
	font-family: Arial;
	text-align: center;
	font-size: 70%;
	margin-top: 0;
	margin-bottom: 0;

}


p {
	font-family: Tahoma;
}

a {
	font-family: Tahoma;
	font-weight: bold;
	color: #B30C02;
}

table, th, td {
	border: 1px solid black;
	background-color: white;
}

img {
	width: auto;
	height: auto;
}


/* div definitions go here */



.footer {
	background-color: black;
	color: white;
	text-align: center;

}

.center {
	text-align: center;
}


.center-frame {
	text-align: center;
	display: block;
}

.header {
	text-align: center;
	display: block;
}

.bb {

	text-align: center;
	display: block;

}

.links {
	text-align: center;
	display: block;
}
.button {
	font-size: large;
	background-color: #597a15;
	color: white;
	text-align: center;
	padding: 10px 40px;
	margin: 20px;
}

.button:hover {
	background-color: white;
	color: #B30c02;
	transition-duration: .2s;
}
.center-l {
	padding-top: 7px;
}

.tiny {
	font-size:65%;
}

.b-link {
	width: auto;
	height: auto;
	text-align: initial;
}

